/* styles of header and footer SITE 2014 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}ol,ul{list-style:none}blockquote,q{quotes:none}ins{text-decoration:none}del{text-decoration:line-through}
#logo{width:300px !important;float:left;margin-bottom:0px !important}#logo a{display:block;float:left;margin:8px 0 0px;padding:0px;height:55px}
#rack-functions,#rack-nav{display:block;float:left;width:100%}#rack-functions{margin:0 0 6px}#rack-functions .subscribe{color:#FFF;float:right;font-size:1.6em;margin:13px 5px 0 0;padding:2px 10px;text-shadow:1px 1px 1px rgba(255,0,0,0.7)}#rack-functions .functions{display:block;float:right;margin-top:20px}#rack-functions .functions ul li{margin-right:10px !important;display:block;float:left;-moz-border-radius:5px;-webkit-border-radius:5px;border:2px solid white;padding:2px 15px;width:auto}#rack-functions .functions ul li a{color:#FFFFFF;text-shadow:1px 1px 2px #000000;font-size:1.2em}#rack-functions .functions ul li.login{margin:0 10px 0 0;background:green}#rack-functions .functions ul li.login:hover{background:#88BF33}#rack-functions .functions ul li.signup{margin:0;background:#B43939}#rack-functions .functions ul li.signup:hover{background:red}#rack-functions .functions ul li.language{background:#666}#rack-functions .functions ul li.language:hover{background:#BBBBBB}#rack-functions .functions .pp_logged_in{border:0;font-size:1.2em;color:#FFFFFF;text-align:right}#rack-functions .functions .pp_logged_in a{font-size:1em}#rack-functions .functions .user-status{display:block;float:left;margin:0}#rack-functions .functions .user-status span.name{font-weight:bold}#rack-functions .functions .user-status span.status{margin-left:10px}#rack-functions .functions .user-status span.feedback{margin-left:10px;padding:2px;background-color:yellow}
#mainNav{display:block;float:left;width:980px}#mainNav h2{display:none}#mainNav li{display:block;float:left;position:relative;z-index:999}#mainNav li a{display:block;float:left;padding:17px 15px;height:36px;font-size:2em;color:#FFFFFF;text-shadow:1px 1px 2px #666}#mainNav li.hosted a{display:block;float:left;padding:17px 15px;font-size:2em;color:#FFFFFF;text-shadow:1px 1px 2px #666;background:url('../images/nav_hosted.png') repeat-x left top}#mainNav li a:hover,#mainNav li.current a{background:url('../images/nav_on.png') no-repeat scroll left top}#mainNav #socials{float:right;margin-right:20px;margin-top:20px}#socials a{display:inline-block;width:40px;height:36px;background:url('../images/social-icons.png') no-repeat 0 0}#socials .twitter{background-position:0 0}#socials .fb{background-position:-40px 0}#socials a:hover{background-size:90px;-moz-background-size:95px}#socials .twitter:hover{background-position:-3px -3px}#socials .fb:hover{background-position:-48px -1px}
#footerframe{text-align:left;margin:0 auto;width:990px;min-height:290px}#footer a{color:#666;}#footer a:hover{color:#000}#footer p{line-height:1.4em;padding:0 0 1.4em;font-size:12px}#rack-info{display:block;float:left;width:930px;margin:20px 0 0 35px}#rack-info .panel_one,#rack-info .panel_two,#rack-info .panel_three,#rack-info .panel_four{display:block;float:left;width:215px}#rack-info .panel_one,#rack-info .panel_two,#rack-info .panel_three{margin:0 20px 0 0}#rack-info h5{font-weight:bold;margin:0 0 10px 0;color:#333}#rack-info .connect{margin:5px 0 0 0}#rack-info .connect li{float:left}#rack-info .connect li.twitter a{background:url('../images/icon_twitter.png') no-repeat 0 0;padding:0 0 0 20px;margin:0 10px 0 0}#rack-info .connect li.fb a{background:url('../images/icon_fb.png') no-repeat 0 0;padding:0 0 0 20px;margin:0 10px 0 0}#rack-info .connect li.rss a{background:url('../images/icon_rss.png') no-repeat 0 0;padding:0 0 0 20px}#rack-sponsors{display:block;float:left;width:930px;margin:10px 0 0 35px}#rack-sponsors ul{margin:10px 0 0 0}#rack-sponsors ul li{float:left;margin:0 10px 0 0}

/* basic structure site 2014 */
html,body{margin:0;padding:0;text-align:center;background: #FFF url('../images/site_bk.png')repeat-x left top}
body{font:12px/1.4 "Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif;text-align:center;}
#wrap{width:960px;text-align:left;margin: 0 auto;}
#header{height:139px;width:100%}
#main{background:#FFF;color:#2C2C2C;margin:10px 0px;padding:30px 0px;width:100%;min-height:195px;height:100%;font-size:14px}
#footer{clear:both !important;background:#FFFFFF url('../images/footer_bk.png') repeat-x left top}
.wrapper{padding:0px;max-width: 100%;}

/* SITE 2015 */

/* generals */
a{ text-decoration:none;color:#56A3D2}
a:hover{color:#B43939}
:focus{outline:0}
.clear{ clear:both;float:none}
article{ margin:20px 0px}
h1{font-size:35px;color:#000;font-weight: 400;}
h2{font-size:28px;font-weight: 400;background:#EEE;color:#000;padding:10px 30px;margin-bottom:20px}
h3{font-size:23px;margin:0px 0px 25px;color:#56A3D2;border-bottom:2px solid #56A3D2;}
h4{font-size:20px;color:#FFF;font-weight:500}
h5{font-size:18px;font-weight: 600;line-height: 1.2;}
h6{font-size:16px;font-weight: 500;}
p{font-weight:300;font-size:16px}
b{font-weight: 500;}
small{font-size:80%}
big{font-size:130%}
hr{border:0px;border-top:1px solid #000;margin:15px 0px}
.full{width:100%;height:auto}
.fleft{float:left}
.fright{float:right}
.tright{text-align:right}
.tcenter{text-align:center;margin:0 auto;}
.transition,.transition:hover{transition:all 300ms ease-in-out;-webkit-transition:all 300ms ease-in-out;-moz-transition:all 300ms ease-in-out;-o-transition:all 300ms ease-in-out}
.shadow{-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:3px 3px 5px 0px rgba(50, 50, 50, 0.75);box-shadow:3px 3px 5px 0px rgba(50, 50, 50, 0.75);}
.col{width:46%;display: inline-block;vertical-align: top;padding:0px 15px;}
.row{padding:10px 30px}
.row .col{margin:0px -15px}
.list{list-style-type:none;padding:0px;margin:20px 30px 20px 10px;font-size:16px;font-weight: 500;color:#000}
.list li{padding:2px 0px 7px 25px;background:url('../images/site2015/item.png') no-repeat left top;line-height: 1.3;margin-bottom:10px}
.bg-grey{background: #EEE}
.bg-dark{background:#BBB}
.blue{color:#56A3D2}
.red{color:#B43939}
.grey{color:#888}
.box{border:2px solid #56A3D2;background:#D0DFEF;padding:10px;}
.iblock{display:inline-block}
.rounded-left{-webkit-border-top-left-radius: 10px;-webkit-border-bottom-left-radius: 10px;-moz-border-radius-topleft: 10px;-moz-border-radius-bottomleft: 10px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;}
.rounded-right{-webkit-border-top-right-radius: 10px;-webkit-border-bottom-right-radius: 10px;-moz-border-radius-topright: 10px;-moz-border-radius-bottomright: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;}
.pad{padding:5px 20px}
.transparent{opacity:0.7;-moz-opacity:0.7;-webkit-opacity:0.7;filter:alpha(opacity=70);border:1px dashed #777}

/* loader "please wait" */
#loader{position:absolute;display:block}
.please-wait{text-align:center;border-radius:100px;-webkit-border-radius:100px;-moz-border-radius:100px;background:rgba(250,250,250,0.8);font-size: 16px;font-weight: 600;color:#B43939;padding:0px; position:fixed;z-index:99999;width:200px;height:200px;top:50%;margin-top:-100px;left:50%;margin-left:-100px}
.please-wait img{width:40px;height:40px;margin-top:60px}
.obscured{z-index:9999;background:#000;opacity:0.6;filter:alpha(opacity=60);top:0px;left:0px;width:100%;height:100%;position:fixed;}

/* icons */
.bicon{width:90px;height:100px;display:inline-block;background:url('../images/site2015/big-icons.png') no-repeat;background-size:200%}
.micon{width:60px;height:60px;display:inline-block;background:url('../images/site2015/big-icons.png') no-repeat;background-position:-15px -390px}
.micon.open{background-position:-80px -325px;margin-right:10px}
.micon.send{background-position:-80px -390px;margin-right:10px}
.micon.communtiy{background-position:-15px -390px; margin-right:10px}
.micon.freedom{background-position:-15px -455px; margin-right:10px}
.bicon.flexible{background-position:-90px -100px}
.bicon.successful{background-position:0px 0px}
.bicon.rich{background-position:0px -100px}
.bicon.economical{background-position:-100px 0px}
.bicon.phplist{background-position:-90px -200px}
.bicon.secure{background-position:-90px -300px}
.bicon.open{background-position:-90px -200px}
.bicon.send{background-position:-90px -200px}
.bicon.community{background-position:-90px -200px}
.bicon.freedom{background-position:-90px -200px}

.bg-umbrella{background:url('../images/site2015/bg-umbrella.png') no-repeat center center;}
.bg-budget{background:url('../images/site2015/bg-budget.png') no-repeat center center;}
.coin{background:url('../images/site2015/big-icons.png') -15px -327px no-repeat;width:65px;height: 60px;display:inline-block;vertical-align:middle}
.arrow{width: 0;height: 0;border-style: solid;border-width: 0 15px 20px 15px;border-color: transparent transparent #FFF transparent;margin-bottom:5px;display:block}

/* buttons */
#backtotop{z-index:999999;cursor:pointer;display:none;position:fixed;bottom:10px;right:20px;background:#56A3D2;color:white;padding:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;opacity:0.7;filter:alpha(opacity=70)}
#backtotop:hover{background:#000}
.more{width:auto;font-size:16px;display:inline-block;margin:10px 0px;font-weight: 400;background:#56A3D2;color:#FFF;padding:1px 20px;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;}
.more:hover{background:#2C2C2C}
.btn-action{text-align:center;margin:20px auto;display:block;clear:both;height:50px}
.btn-action a{text-align:right;padding:10px 80px 10px 25px;width:auto;margin:0 auto;background:#56A3D2 url('../images/site2015/bg-coin.png') no-repeat 102% -5px;box-shadow:text-align:right;height:50px; display:inline-block;border-radius:50px; -moz-boder-radius:50px; -webkit-border-radius:50px;transition:all 0.3s linear; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear;font-size:18px;line-height:1.2; white-space:nowrap; color:#FFF;-webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear; -o-transition:all 0.2s linear; transition:all 0.2s linear;}
.btn-action a:hover{background-color:#B43939;background-position:-6px -5px;text-align:left;padding:10px 25px 10px 80px;transition:all 0.3s linear; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear;}


/* top */
#top-image a{color:#B43939}
#top-image a:hover{color:#3481B0}
#top-image{margin-top:-30px;padding:30px 10px 25px;background:url('../images/site2015/top-image-sky.jpg') no-repeat 0px -20px;background-size: 100% auto;height:300px}
#top-image .text{width:560px;float:right;clear:both;text-align: center;}
#top-image h1{margin:0px;/*background:rgba(0,100,200,0.1);*/padding:0px 0px 30px 0px;line-height: 1;border-bottom:0px solid #56A3D2}
#top-image p{font-size:16px;text-align: center;font-weight: 300;color:#000}
#top-buttons li{text-align:center;width:118px;height:140px;float:left;padding:10px 20px 0px;margin:2px 1px;background:#56A3D2;color:#FFF;font-size:16px;line-height: 1.2;text-align:center}
#top-buttons li.first{margin-left:0px;width:119px}
#top-buttons li.last{margin-right:0px;width:119px}


/* articles */
.article{border:1px solid #56A3D2;margin:30px 0px; padding:0px;clear:both;display:block}
#per-slide-template-red,#per-slide-template,.cycle-slideshow.col{margin:0px}
#per-slide-template{width:40%}
#per-slide-template-red{width:35%}
.cycle-slideshow.col{width:52%;}
.cycle-slideshow.col.cycle-red{width:56%;}
#per-slide-template-red h4,#per-slide-template h4{float:right;width:85%;color:#56A3D2;border:2px solid #56A3D2;cursor:pointer;line-height: 1.3;padding:5px 0px;margin:0px -20px 10px 0px;padding:10px 20px;border-right:0px;}
#per-slide-template-red h4{color:#999;border-color:#999}
#per-slide-template h4:hover,#per-slide-template h4.cycle-pager-active{background:#56A3D2;color:#FFF;border-color:#56A3D2}
#per-slide-template-red h4:hover,#per-slide-template-red h4.cycle-pager-active{background:#999;color:#FFF;border-color:#999}
#per-slide-template-red h4.cycle-pager-active,#per-slide-template h4.cycle-pager-active{width:95%;}
.cycle-slideshow .box{margin-bottom:10px;min-height:600px;padding:15px}
.cycle-slideshow.cycle-red .box{min-height:350px;border-color:#999;background:#EEE}
#key-image{padding:50px 10px 15px 320px;background:#EEE url('../images/site2015/key.png') no-repeat 30px 10px;height:80px;background-size:250px}

/* manual */
#manual #content p{font-size:16px}
#manual #content h1:first-child{margin-top:-32px;margin-bottom:40px;background:#2c2c2c;color: #FFF;max-width:642px;font-size: 22px;line-height: 1.1;padding: 10px 20px;text-align:center;-moz-border-radius-topleft: 20px;-webkit-border-top-left-radius: 20px; border-top-left-radius: 20px;-moz-border-radius-topright: 20px;-webkit-border-top-right-radius: 20px;border-top-right-radius: 20px}
#manual #content h1:first-child:before{content:""}
#manual #content h1,#manual #content * h1:first-child{line-height: 1.5;position:static;top:initial;max-height: none;text-align:left;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px}
#manual #content h1:before,#manual #content * h1:first-child:before,#manual #content h2:before{content:"\2193  "}
#manual #content h1,#manual #content * h1:first-child,#manual #content h2{margin:50px -20px 20px;font-size:24px;padding:5px 20px;background:#56A3D2;color:#FFF;}
#manual #content h3{font-size:23px;border-bottom:1px dotted #333;margin:40px 0px 10px;padding:0px;color:#333}
#manual #content ol,#manual #content ul{list-style: initial;margin:15px 0px;padding: 5px 34px;font-size: 16px;font-weight: 500;}
#manual #content ol{list-style:numbers}
#manual #content ol li,#manual #content ul li{margin-bottom:14px;line-height: 1.2;padding:0px 5px}
#manual #content pre{white-space: pre-wrap;margin: 10px 0px;background: none repeat scroll 0% 0% #EEE;padding: 10px 20px;}
#manual #content strong{font-weight: 500}
#manual #main #content{box-shadow: inset -5px 8px 5px -5px rgba(0, 0, 0, 0.4);min-width: 300px;max-width:640px;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;margin:0px;border: 1px solid #666;padding:30px 20px}
#manual #main #content .intro{background:url('../images/manual-intro.png')no-repeat 120px 50px;}
#manual #content img{max-width:100%;height: auto;background:#EEE;display:block;margin:20px auto;-webkit-box-shadow:3px 3px 10px 0px rgba(0, 0, 0, 0.5);-moz-box-shadow:3px 3px 10px 0px rgba(0, 0, 0, 0.5);box-shadow:3px 3px 10px 0px rgba(0, 0, 0, 0.5)}
#manual #menu{line-height:1.1;width:250px;float:right;margin-bottom:40px;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;background:#2C2C2C;padding:20px 0px}
#manual #menu:before{margin-top:-38px;margin-left:130px;position:absolute;content:"phpList manual";color:#999;font-size:13px;letter-spacing:1px;font-weight: 400;}
#manual #menu *{transition:all 0.5s;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s}
#manual #menu .menu{list-style: none;padding:0px;overflow:hidden;height 20px;border:1px solid #2C2C2C;margin-bottom:0px;background:#EEE}
#manual #menu .menu ul{border:0px;height:1px;list-style: none}
#manual #menu .menu li{margin-top:0px;list-style: none}
#manual #menu .menu a{text-decoration:none;background:#56A3D2;color:#FFF;font-size:13px;padding:7px 10px;font-weight:400;display:block}
#manual #menu .menu li li a{max-height:0px;background: none;color:#444;display:block;padding:7px 10px 7px 30px;font-size:13px;border-bottom:1px dotted #BBB}
#manual #menu .menu li.current:hover a,#manual #menu .menu li.current a{background:#A33939}
#manual #menu .menu li:hover a,#manual #menu .menu li.active a{background:#2C2C2C}
#manual #menu .menu li:hover li a,
#manual #menu .menu li.active li a{background:#EEE;color:#555}
#manual #menu .menu li.current:hover li a,#manual #menu .menu li.current li a{background:#FEE;color:#333}
#manual #menu .menu li.current li a.current,#manual #menu .menu li.current li a.current:hover{background:#C88;color:#FFF}
#manual #menu .menu li.active li a.active{background:#CCC;color:#000}
#manual #menu .menu.active,
#manual #menu .menu li.current,
#manual #menu .menu li.active,
#manual #menu .menu li.active ul,
#manual #menu .menu li.current ul,
#manual #menu .menu li.current ul li a,
#manual #menu .menu li.active ul li a{height:auto}
#manual #menu .menu li.current ul li a,#manual #menu .menu li.active ul li a{max-height:60px}
#manual #menu .menu li li a:hover,#manual #menu .menu li.current li a:hover{background:#FFF;color:#000;transition:none}
